<!-- Uggly hack to remove the default navbar on this page only! -->
<% content_for :navbar do %>
  <input type="hidden">
<% end %>

<div class="container-fluid">
  <div class="row adds-top-padding">
    <div class="col-12 col-md-8"> <!-- Articles and news -->
      <div class="col-12" style="height: 55vh;"> <!-- Article -->
        <div class="card bg-dark text-white" style="height: 95%;">
          <img class="card-img" src="" alt="Card image">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-12"> <!-- News -->
        <div class="card bg-dark text-white" style="height: 40vh;">
          <div class="card-img-overlay">
            <h5 class="card-title">News</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div> <!-- col articles and news end -->
    <div class="col-12 col-md-4"> <!-- Widgets -->
      <div class="col-12"> <!-- Clock -->
        <div class="card" style="height: 30vh;">
          <p>Clock</p>
        </div>
      </div>
      <div class="col-12"> <!-- Weather -->
        <div class="card" style="height: 30vh;">
          <p>Weather</p>
        </div>
      </div>
      <div class="col-12"> <!-- Logo -->
        <div class="card" style="height: 30vh;">
          <%= image_tag("hsb.gif", class: "img-fluid rounded") %>
        </div>
      </div>
    </div> <!-- col widgets end -->
  </div> <!-- row end -->
</div>
