<!-- Uggly hack to remove the default navbar on this page only! -->
<% content_for :navbar do %>
  <input type="hidden">
<% end %>

<div class="container-fluid">
  <div class="row adds-top-padding">
    <div class="col-12 col-md-8"> <!-- Articles and news -->
      <div class="col-12" style="height: 54vh;"> <!-- Article -->
        <div class="card bg-dark text-white text-center card-image-control" style="height: 95%";">
          <%= image_tag("turningtorso.jpg", class: "card-img img-fluid card-image-height") %>
          <div class="card-img-overlay background-image-cover">
            <h2 class="card-title">Card title</h2>
            <p class="card-text paragraph-size">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-12" style="height: 44vh;"> <!-- News -->
        <div class="card bg-dark text-white card-image-control" style="height: 95%;">
          <%= image_tag("turningtorso.jpg", class: "card-img img-fluid card-image-height") %>
          <div class="card-img-overlay background-image-cover">
            <h5 class="card-title">News</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div> <!-- col articles and news end -->
    <div class="col-12 col-md-4" style="padding-left: 0"> <!-- Widgets -->
      <div class="col-12" style="height: 33vh;"> <!-- FlipClock -->
        <div class="card justify-content-center" style="height: 95%;">
          <div class="clock align-self-center"></div>
        </div>
      </div>
      <div class="col-12" style="height: 32vh;"> <!-- Weather -->
        <div class="card justify-content-center" style="height: 95%;">
          <div id="openweathermap-widget-15" class="align-self-center"></div>
        </div>
      </div>
      <div class="col-12" style="height: 32vh;"> <!-- Logo -->
        <div class="card justify-content-center" style="height: 96%;">
          <%= image_tag("hsb.gif", class: "img-fluid") %>
        </div>
      </div>
    </div> <!-- col widgets end -->
  </div> <!-- row end -->
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> <!-- For FlipClock -->
<script type="text/javascript">
  var clock;
  $(document).ready(function() {
    clock = $('.clock').FlipClock({
      clockFace: 'TwentyFourHourClock',
          // showSeconds: false // Uncomment to remove seconds
    });
  });
</script>
<!-- For OpenWeatherMap widget -->
<script>
  window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 15,cityid: '2692969',appid: <%== ENV["open_weather_map_api_key"].to_json %>,units: 'metric',containerid: 'openweathermap-widget-15',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();
</script>
